{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - CA DESIGN DE INTERIORES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>CRM<br>Sistema de Gestão de Clientes</h2>
            <h3>CA - Design de Interiores</h3>
            <p>Bem-vindo de volta.</p>
        </div>
    </div>
    
    <div class="main">
        <div class="login-form">
            <form action="submit" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" class="form-control" placeholder="Usuário" name="username">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" name="password">
                </div>
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                
                <button type="submit" class="btn btn-black">Login</button>
            </form>
        </div>
    </div>
</body>
</html>